<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="aboutmecard text-center fw-bold">ABOUT ME</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><p class="inforojo fw-bold">-INFO-</p></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Catedral_platense (1).jpg">
        <mat-card-content>
          <p class="contenidotarjeta fw-semibold fs-5 ">
            My name is Martin Ramirez and I am 24 years old. I live in the city of La Plata, Buenos Aires Argentina. I like programming and the world of computers and I consider myself very organized and proactive in everything I do and I propose, I am responsible and I like to work as a team to achieve goals.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><p class="inforojo fw-bold">-MY CURRENT JOB-</p></mat-card-title>
        </mat-card-header>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/1535259959891.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/DJI_0104-scaled.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <mat-card-content>
          <p class="contenidotarjeta fw-semibold fs-5 mt-3 ">
            I currently work at Astillero Rio Santiago in the morning since 17/07/2017. My business is a pipe fitter on the main deck of ships.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

