<div class="fondo">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12">
      <nav class="nav2 fixed-top">
        <button class="primero" mat-button>Martin Ramirez.</button>
        <button class="segundo" mat-button>INTRO</button>
        <button (click)="scrollHaciaaboutme();" class="tercero" mat-button>ABOUT ME</button>
        <button class="cuarto" mat-button>SKILLS</button>
        <button class="quinto" mat-button>CONTACT</button>
      </nav>
    </div>
   </div>
    <div class="row">
      <div class="col-md-6 animate__animated animate__fadeInLeftBig">
        <p class="infoperfil fs-4">Hello, I'm Martin Ramirez</p>
        <br>
        <p class="infoperfil2">Naval Worker</p>
        <br>
        <p class="infoperfil3">and Web Developer</p>
        <br>
        <p class="SFM fw-normal">SCROLL FOR MORE------- </p>
      </div>
      <div class="col-md-6 animate__animated animate__fadeInRightBig">
        <img src="../assets/perfil editada.jpg" class="fotoperfil" alt="">
      </div>
    </div>
  </div>
</div>
