<div class="row">
  <div class="col-md-12">
    <p class="aboutmecard text-center fw-bold">SKILLS</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 animate__animated animate__fadeInUp">
      <mat-card class="matcard1 mt-5">
        <mat-card-title class="html fs-5 mt-2">HTML</mat-card-title>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">CSS</mat-card-title>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">BOOTSTRAP</mat-card-title>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">ANGULAR</mat-card-title>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
      </mat-card>
      </div>
    <div class="col-md-3 animate__animated animate__fadeInUp">
      <div>
      <mat-card class="matcard2 mt-5">
        <mat-card-title class="html fs-5 mt-2">MATERIAL</mat-card-title>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">PHP</mat-card-title>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">TYPESCRIPT</mat-card-title>
        <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
        <mat-card-title class="html fs-5 mt-2">MYSQL</mat-card-title>
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
      </mat-card>
    </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
